:root {
  --agencyk-green: #4a8673;
  --agencyk-blue: #80c7db;
  --agencyk-yellow: #eec100;
  --poepublic-yellow: #e6df83;
  --poepublic-orange: #f28749;
  --poepublic-pink: #d94862;
  --poepublic-teal: #05dbf2;
  --poepublic-white: #f2e2ce;
  --poepublic-rust: #d9644a;
  --poepublic-brown: #400101;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;

  height: 100%;
}

main a {
  width: 100%;
  height: 100%;
}

.poepublic-section, .agencyk-section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
}

.poepublic-section {
  color: white;
  background-color: var(--poepublic-orange);
}

.agencyk-section {
  color: white;
  background-color: var(--agencyk-blue);
}

.hover-background {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.poepublic-section .hover-background {
  background-image: url('../images/poepublic-roof.jpg');
  background-position: center;
  background-size: cover;
}

.agencyk-section .hover-background {
  background-image: url('../images/agencyk-roof.jpg');
  background-position: center;
  background-size: cover;
}

section:hover .hover-background {
  opacity: 0.5;
}

section h1 {
  position: relative;
  top: 0;

  aspect-ratio: 2/1;
  width: 70%;

  font-size: 0;

  background-repeat: no-repeat;
  background-size: contain;

  transition: top 0.3s ease;
}

.poepublic-section h1 {
  background-image: url('../images/poepublic-white.png');
  background-position: 50% -130%;
}

.agencyk-section h1 {
  background-image: url('../images/agencyk-white.png');
  background-position: 50% 70%;
}

section:hover h1 {
  top: -0.5rem;
}

@media (aspect-ratio < 1/1) {
  /* Styles for portrait orientation */
  main {
    flex-direction: column;
  }
}
