html, body {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;

  height: 100%;
}

main a {
  width: 100%;
  height: 100%;
}

.poepublic-section, .agencyk-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
}

.poepublic-section {
  background-color: #e6df83;
}

.agencyk-section {
  background-color: #4a8673;
}

.poepublic-section h1, .agencyk-section h1 {
  aspect-ratio: 2/1;
  width: 70%;

  font-size: 0;

  background-repeat: no-repeat;
  background-size: contain;
}

.poepublic-section h1 {
  background-image: url('../images/poepublic-black.png');
  background-position: 50% -130%;
}

.agencyk-section h1 {
  background-image: url('../images/agencyk-white.png');
  background-position: 50% 70%;
}

@media (aspect-ratio < 1/1) {
  /* Styles for portrait orientation */
  main {
    flex-direction: column;
  }
}
