/* stylelint-disable no-descending-specificity */

@font-face {
  font-family: Suiza;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Suiza-Regular.otf') format('opentype');
}

@font-face {
  font-family: Suiza;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Suiza-Bold.otf') format('opentype');
}

:root {
  --primary-color: #222;
  --gray2: #d7dbe0;
  --gray1: #F5F5F6;
}

body {
  margin: 0;
  padding: 0;

  font-family: Suiza, Arial, sans-serif;
  color: var(--primary-color);

  background-color: var(--gray1);
}

header {
  position: relative;

  box-sizing: border-box;
  height: 80vh;
  padding: 1rem;

  background-image: url('../images/bg-suggestidea-bright.jpg');
  background-position: 50% 60%;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 3rem;
}

h1 {
  margin: 0;
}

header p {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 2rem;
  padding-right: 0.5rem;

  font-size: 3.5rem;
  line-height: 0.625;
  color: var(--gray1);
  text-align: right;

  background-image: url('../images/bg-blackgradient.png');
  background-size: contain;
}

.work-samples {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--gray1);
}

.work-samples h2 {
  color: #222;
}

.work-samples article {
  display: grid;
  grid-template-areas:
    "image title"
    "image description";
  grid-template-columns: 50% auto;
  gap: 1rem;

  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;

  background-color: var(--gray2);
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
}

.work-samples article:nth-child(odd) {
  grid-template-areas:
    "title image"
    "description image";
  grid-template-columns: auto 50%;
}

.work-samples .screenshot {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  grid-area: image;

  width: 100%;
  height: auto;
  border-radius: 0.25rem;

  transition: all 0.1s ease;
}

.work-samples .screenshot:hover {
  top: -2px;
  left: -2px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}

footer {
  padding: 1rem;

  font-size: 0.875rem;
  color: var(--gray1);
  text-align: center;

  background-color: #222;
}

footer h2 {
  margin: 0;
  font-size: 1rem;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--gray1);
}

@media screen and (width < 480px) {
  .logo {
    height: 2rem;
  }

  header p {
    font-size: 2rem;
  }

  .work-samples article {
    display: block;
  }
}